<a href="https://colab.research.google.com/github/dzakiAdip/216_prakDATMIN/blob/main/216_thoriq_datminpost3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Library

Library utama yang akan digunakan dalam praktimum ini adalah Pandas. Pustaka Pandas adalah pustaka Python sumber terbuka yang esensial untuk analisis dan manipulasi data, khususnya data terstruktur dalam bentuk tabel

In [20]:
import pandas as pd # Import library pandas

## Persiapan Dataset
menggunakan file `mahasiswa.csv`
file terdapat di [gDrive - Post3](https://drive.google.com/drive/folders/1KQTWU-S16GzmkryY3vw5KeBV66OBUYeW)

In [21]:
# This cell depends on the successful execution of the cell above it, which imports pandas as pd.
df = pd.read_csv('mahasiswa.csv') # Membaca file CSV ke dalam DataFrame menggunakan pandas

df # Menampilkan DataFrame

    No         NIM               Nama  Jumlah SKS  Nilai TBQ
0    1  1300018177        Ani Yuanita         109         70
1    2  1300018188    Burhan Fajar P.          89         75
2    3  1300018200     Heri Budiyanto         120         65
3    4  1300018201    Dimas Satrio W.         111         60
4    5  1300019200        Nur Hidayat         100         50
5    6  1300019181      Vilda Lestari          90         55
6    7  1300018198       Edi Suryanto          98         60
7    8  1300019001   Erna Dwi Puspita          70         75
8    9  1300022099         Nurfita FF          63         80
9   10  1300015006       Fahmi dwi N.          84         60
10  11  1300023046    Hamzah Pramudya         102         68
11  12  1300023143           Nurcahyo         110         70
12  13  1300023200        Aminatun R.         110         75
13  14  1300022080       Tri Haryanto         124         68
14  15     9018263  Irma Kautsaril Q.         120         65
15  16    12022030        Risna Dania         115         68
16  17    12020021      Ageng Priyono         116         80
17  18     9018269       Reny Surya P          98         70
18  19     9018109   Layly Aslinda S.         110         75
19  20     9020026     David Setiarso         114         55
20  21    12018060           Agne Cia         120         68
21  22    11018022       Hari Anggoro         118         50
22  23     9018212        Anas Bayu P         105         55
23  24     9018301    Danar Apriyanto         109         68
24  25    12022020   Agus Dwi Saputra         108         70
25  26    12022038      Wahyu Hidayat          79         75
26  27    12019039     Slamet Riyanto          67         55
27  28    11018111    Ahmad Alfian Y.         130         58
28  29     9018135   Andini Setyowati         107         80
29  30    12018161      Aris Maryanto         108         85

In [22]:
df.info() # Menampilkan informasi mengenai DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          30 non-null     int64
 1   NIM         30 non-null     int64
 2   Nama        30 non-null     object
 3   Jumlah SKS  30 non-null     int64
 4   Nilai TBQ   30 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

### Memperbaiki penamaan kolom

Kolom perlu diperbaiki penamaannya agar memudahkan kita dalam mempersiapkan data

In [23]:
pemetaan_kolom = {
    'Jumlah SKS' : 'jumlahSKS',
    'Nilai TBQ' : 'nilaiTBQ'
} # Membuat dictionary untuk memetakan nama kolom lama ke nama kolom baru

df.rename(columns=pemetaan_kolom, inplace=True) # Mengganti nama kolom menggunakan dictionary pemetaan_kolom
df.info() # Menampilkan informasi mengenai DataFrame setelah penggantian nama kolom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         30 non-null     int64
 1   NIM        30 non-null     int64
 2   Nama       30 non-null     object
 3   jumlahSKS  30 non-null     int64
 4   nilaiTBQ   30 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

# **SOAL POST 1**
1. Kategorikan data `nilaiTBQ` menjadi:
* 80 >= A
* 70 > B
* 60 > C
* Selain itu D

In [24]:
for baris, kolom in df.iterrows(): # Melakukan iterasi pada setiap baris DataFrame
    if kolom['nilaiTBQ'] >= 80: # Jika nilaiTBQ lebih dari sama dengan 80
        df.loc[baris, 'gradeTBQ'] = 'A' # Grade TBQ adalah 'A'
    elif kolom['nilaiTBQ'] > 70: # Jika nilaiTBQ lebih dari sama 70
        df.loc[baris, 'gradeTBQ'] = 'B' # Grade TBQ adalah 'B'
    elif kolom['nilaiTBQ'] > 60: # Jika nilaiTBQ lebih dari sama 60
        df.loc[baris, 'gradeTBQ'] = 'C' # Grade TBQ adalah 'C'
    else: # Jika nilaiTBQ kurang dari 60
        df.loc[baris, 'gradeTBQ'] = 'D' # Grade TBQ adalah 'D'

df[['NIM', 'nilaiTBQ', 'gradeTBQ']]

           NIM  nilaiTBQ gradeTBQ
0   1300018177        70        C
1   1300018188        75        B
2   1300018200        65        C
3   1300018201        60        D
4   1300019200        50        D
5   1300019181        55        D
6   1300018198        60        D
7   1300019001        75        B
8   1300022099        80        A
9   1300015006        60        D
10  1300023046        68        C
11  1300023143        70        C
12  1300023200        75        B
13  1300022080        68        C
14     9018263        65        C
15    12022030        68        C
16    12020021        80        A
17     9018269        70        C
18     9018109        75        B
19     9020026        55        D
20    12018060        68        C
21    11018022        50        D
22     9018212        55        D
23     9018301        68        C
24    12022020        70        C
25    12022038        75        B
26    12019039        55        D
27    11018111        58        D
28     9018135        80        A
29    12018161        85        A

## **SOAL POST 2**
2. Buatkan kolom baru dengan nama `SisaSKS` dengan cara mengurangkan 144 SKS dengan `jumlahSKS`

In [25]:
for baris, kolom in df.iterrows():
    df.loc[baris, 'sisaSKS'] = 144 - int(kolom['jumlahSKS']) # Menghitung sisa SKS

df

    No         NIM               Nama  jumlahSKS  nilaiTBQ gradeTBQ  sisaSKS
0    1  1300018177        Ani Yuanita        109        70        C     35.0
1    2  1300018188    Burhan Fajar P.         89        75        B     55.0
2    3  1300018200     Heri Budiyanto        120        65        C     24.0
3    4  1300018201    Dimas Satrio W.        111        60        D     33.0
4    5  1300019200        Nur Hidayat        100        50        D     44.0
5    6  1300019181      Vilda Lestari         90        55        D     54.0
6    7  1300018198       Edi Suryanto         98        60        D     46.0
7    8  1300019001   Erna Dwi Puspita         70        75        B     74.0
8    9  1300022099         Nurfita FF         63        80        A     81.0
9   10  1300015006       Fahmi dwi N.         84        60        D     60.0
10  11  1300023046    Hamzah Pramudya        102        68        C     42.0
11  12  1300023143           Nurcahyo        110        70        C     34.0
12  13  1300023200        Aminatun R.        110        75        B     34.0
13  14  1300022080       Tri Haryanto        124        68        C     20.0
14  15     9018263  Irma Kautsaril Q.        120        65        C     24.0
15  16    12022030        Risna Dania        115        68        C     29.0
16  17    12020021      Ageng Priyono        116        80        A     28.0
17  18     9018269       Reny Surya P         98        70        C     46.0
18  19     9018109   Layly Aslinda S.        110        75        B     34.0
19  20     9020026     David Setiarso        114        55        D     30.0
20  21    12018060           Agne Cia        120        68        C     24.0
21  22    11018022       Hari Anggoro        118        50        D     26.0
22  23     9018212        Anas Bayu P        105        55        D     39.0
23  24     9018301    Danar Apriyanto        109        68        C     35.0
24  25    12022020   Agus Dwi Saputra        108        70        C     36.0
25  26    12022038      Wahyu Hidayat         79        75        B     65.0
26  27    12019039     Slamet Riyanto         67        55        D     77.0
27  28    11018111    Ahmad Alfian Y.        130        58        D     14.0
28  29     9018135   Andini Setyowati        107        80        A     37.0
29  30    12018161      Aris Maryanto        108        85        A     36.0

# **SOAL POST 3**
3. Kategorikan data `SisaSKS` menjadi:
* Kurang dari 24 masuk kategori `Plus 1`
* Antara 25 dan 48 masuk kategori `Plus 2`
* Lebih dari 49 `Plus 3`

In [26]:
for baris, kolom in df.iterrows():
    if kolom['sisaSKS'] < 24:
        df.loc[baris, 'kategoriSKS'] = 'Plus 1'
    elif kolom['sisaSKS'] >= 25 and kolom['sisaSKS'] <= 48:
        df.loc[baris, 'kategoriSKS'] = 'Plus 2'
    elif kolom['sisaSKS'] >= 49:
        df.loc[baris, 'kategoriSKS'] = 'Plus 3'
    else:
        df.loc[baris, 'kategoriSKS'] = 'Tidak Terkategori'

df[['NIM', 'sisaSKS', 'kategoriSKS']]

           NIM  sisaSKS        kategoriSKS
0   1300018177     35.0             Plus 2
1   1300018188     55.0             Plus 3
2   1300018200     24.0  Tidak Terkategori
3   1300018201     33.0             Plus 2
4   1300019200     44.0             Plus 2
5   1300019181     54.0             Plus 3
6   1300018198     46.0             Plus 2
7   1300019001     74.0             Plus 3
8   1300022099     81.0             Plus 3
9   1300015006     60.0             Plus 3
10  1300023046     42.0             Plus 2
11  1300023143     34.0             Plus 2
12  1300023200     34.0             Plus 2
13  1300022080     20.0             Plus 1
14     9018263     24.0  Tidak Terkategori
15    12022030     29.0             Plus 2
16    12020021     28.0             Plus 2
17     9018269     46.0             Plus 2
18     9018109     34.0             Plus 2
19     9020026     30.0             Plus 2
20    12018060     24.0  Tidak Terkategori
21    11018022     26.0             Plus 2
22     9018212     39.0             Plus 2
23     9018301     35.0             Plus 2
24    12022020     36.0             Plus 2
25    12022038     65.0             Plus 3
26    12019039     77.0             Plus 3
27    11018111     14.0             Plus 1
28     9018135     37.0             Plus 2
29    12018161     36.0             Plus 2

# **SOAL POST 4**
4. Transformasi data dengan `label encoding` kolom kategori `nilaiTBQ`

### Transformasi Label Encoding

Label Encoding adalah teknik lain untuk mengubah variabel kategorikal menjadi format numerik. Berbeda dengan One-Hot Encoding yang membuat kolom biner baru untuk setiap kategori, Label Encoding menetapkan angka bulat unik untuk setiap kategori.

**Contoh:**

Jika Anda memiliki kolom 'Ukuran' dengan nilai 'Kecil', 'Sedang', 'Besar':

| Ukuran |
|--------|
| Kecil  |
| Sedang |
| Besar  |
| Kecil  |

Setelah Label Encoding, kolom ini akan menjadi:

| Ukuran (Encoded) |
|-----------------|
| 0               |
| 1               |
| 2               |
| 0               |

Meskipun sederhana, Label Encoding dapat menimbulkan masalah bagi algoritma machine learning karena memperkenalkan urutan atau hierarki yang tidak ada dalam data asli (misalnya, algoritma mungkin menganggap 'Besar' (2) lebih penting daripada 'Kecil' (0)). Oleh karena itu, Label Encoding paling cocok digunakan untuk data kategorikal ordinal (di mana urutan memang penting) atau untuk kolom target dalam klasifikasi.

In [27]:
# 1. Buat kolom gradeTBQ berdasarkan nilaiTBQ
for baris, kolom in df.iterrows():
    if kolom['nilaiTBQ'] >= 80:
        df.loc[baris, 'gradeTBQ'] = 'A'
    elif kolom['nilaiTBQ'] > 70:
        df.loc[baris, 'gradeTBQ'] = 'B'
    elif kolom['nilaiTBQ'] > 60:
        df.loc[baris, 'gradeTBQ'] = 'C'
    else:
        df.loc[baris, 'gradeTBQ'] = 'D'

print("Setelah membuat gradeTBQ:")
print(df[['NIM', 'nilaiTBQ', 'gradeTBQ']].head())

# 2. Label Encoding untuk kolom gradeTBQ
# Method 1: Menggunakan map dengan dictionary
grade_mapping = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df['gradeTBQ_encoded'] = df['gradeTBQ'].map(grade_mapping)

print("\nSetelah Label Encoding:")
print(df[['NIM', 'nilaiTBQ', 'gradeTBQ', 'gradeTBQ_encoded']].head())

# Method 2: Menggunakan scikit-learn LabelEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['gradeTBQ_encoded_sklearn'] = le.fit_transform(df['gradeTBQ'])

print("\nMapping Label Encoding:")
for i, label in enumerate(le.classes_):
    print(f"{label} -> {i}")

# 3. Analisis hasil
print("\nDistribusi Grade TBQ:")
print(df['gradeTBQ'].value_counts().sort_index())

print("\nDistribusi Grade TBQ (Encoded):")
print(df['gradeTBQ_encoded'].value_counts().sort_index())

print("\nSample data lengkap:")
print(df[['NIM', 'nilaiTBQ', 'gradeTBQ', 'gradeTBQ_encoded', 'gradeTBQ_encoded_sklearn']].head(10))

# 4. Cek konsistensi encoding
print("\nKonsistensi Encoding:")
print("Apakah kedua method encoding sama?", (df['gradeTBQ_encoded'] == df['gradeTBQ_encoded_sklearn']).all())

Setelah membuat gradeTBQ:
          NIM  nilaiTBQ gradeTBQ
0  1300018177        70        C
1  1300018188        75        B
2  1300018200        65        C
3  1300018201        60        D
4  1300019200        50        D

Setelah Label Encoding:
          NIM  nilaiTBQ gradeTBQ  gradeTBQ_encoded
0  1300018177        70        C                 2
1  1300018188        75        B                 1
2  1300018200        65        C                 2
3  1300018201        60        D                 3
4  1300019200        50        D                 3

Mapping Label Encoding:
A -> 0
B -> 1
C -> 2
D -> 3

Distribusi Grade TBQ:
gradeTBQ
A     4
B     5
C    11
D    10
Name: count, dtype: int64

Distribusi Grade TBQ (Encoded):
gradeTBQ_encoded
0     4
1     5
2    11
3    10
Name: count, dtype: int64

Sample data lengkap:
          NIM  nilaiTBQ gradeTBQ  gradeTBQ_encoded  gradeTBQ_encoded_sklearn
0  1300018177        70        C                 2                         2
1  1300018188        75        B                 1                         1
2  1300018200        65        C                 2                         2
3  1300018201        60        D                 3                         3
4  1300019200        50        D                 3                         3
5  1300019181        55        D                 3                         3
6  1300018198        60        D                 3                         3
7  1300019001        75        B                 1                         1
8  1300022099        80        A                 0                         0
9  1300015006        60        D                 3                         3

Konsistensi Encoding:
Apakah kedua method encoding sama? True

# **SOAL POST 5**
5. Transformasi data dengan `one-hot encoding` kolom kategori `sisaSKS`

### Transformasi One-Hot Encoding

One-Hot Encoding adalah teknik yang digunakan untuk mengubah variabel kategorikal menjadi format numerik yang dapat digunakan oleh algoritma machine learning. Dalam One-Hot Encoding, setiap kategori unik dalam kolom kategorikal diubah menjadi kolom biner baru. Setiap kolom biner ini akan berisi nilai 1 jika baris data tersebut termasuk dalam kategori tersebut, dan 0 jika tidak.

**Contoh:**

Jika Anda memiliki kolom 'Warna' dengan nilai 'Merah', 'Biru', 'Hijau':

| Warna |
|-------|
| Merah |
| Biru  |
| Hijau |
| Merah |

Setelah One-Hot Encoding, kolom ini akan menjadi:

| Merah | Biru | Hijau |
|-------|------|-------|
| 1     | 0    | 0     |
| 0     | 1    | 0     |
| 0     | 0    | 1     |
| 1     | 0    | 0     |

Teknik ini penting karena banyak algoritma machine learning tidak dapat bekerja langsung dengan data kategorikal dalam format teks. One-Hot Encoding membantu merepresentasikan data kategorikal dengan cara yang dapat dipahami oleh model.

In [28]:
import pandas as pd

# 1. Hitung sisaSKS
print("1. Menghitung sisaSKS...")
for baris, kolom in df.iterrows():
    df.loc[baris, 'sisaSKS'] = 144 - int(kolom['jumlahSKS'])

print("Setelah menghitung sisaSKS:")
print(df[['NIM', 'jumlahSKS', 'sisaSKS']].head())

# 2. Buat kolom kategoriSKS
print("\n2. Membuat kategoriSKS...")
for baris, kolom in df.iterrows():
    if kolom['sisaSKS'] < 24:
        df.loc[baris, 'kategoriSKS'] = 'Plus 1'
    elif kolom['sisaSKS'] >= 25 and kolom['sisaSKS'] <= 48:
        df.loc[baris, 'kategoriSKS'] = 'Plus 2'
    elif kolom['sisaSKS'] >= 49:
        df.loc[baris, 'kategoriSKS'] = 'Plus 3'
    else:
        df.loc[baris, 'kategoriSKS'] = 'Tidak Terkategori'

print("Setelah membuat kategoriSKS:")
print(df[['NIM', 'sisaSKS', 'kategoriSKS']].head())

# 3. One-Hot Encoding
print("\n3. Melakukan One-Hot Encoding...")
df_encoded = pd.get_dummies(df, columns=['kategoriSKS'], prefix='kategori')

print("\nSetelah One-Hot Encoding:")
print(df_encoded.filter(like='kategori_').head())

print("\nDataFrame Final dengan One-Hot Encoding:")
print(df_encoded.head())

# 4. Analisis hasil
print("\n4. Analisis Hasil:")
print("Distribusi Kategori SKS:")
print(df['kategoriSKS'].value_counts())

print("\nKolom One-Hot Encoding yang terbentuk:")
one_hot_columns = [col for col in df_encoded.columns if 'kategori_' in col]
print(one_hot_columns)

print("\nSample data dengan one-hot encoding:")
sample_cols = ['NIM', 'sisaSKS'] + one_hot_columns
print(df_encoded[sample_cols].head(10))

# 5. Info dataframe final
print("\n5. Info DataFrame Final:")
print(f"Shape: {df_encoded.shape}")
print(f"Kolom: {df_encoded.columns.tolist()}")

1. Menghitung sisaSKS...
Setelah menghitung sisaSKS:
          NIM  jumlahSKS  sisaSKS
0  1300018177        109     35.0
1  1300018188         89     55.0
2  1300018200        120     24.0
3  1300018201        111     33.0
4  1300019200        100     44.0

2. Membuat kategoriSKS...
Setelah membuat kategoriSKS:
          NIM  sisaSKS        kategoriSKS
0  1300018177     35.0             Plus 2
1  1300018188     55.0             Plus 3
2  1300018200     24.0  Tidak Terkategori
3  1300018201     33.0             Plus 2
4  1300019200     44.0             Plus 2

3. Melakukan One-Hot Encoding...

Setelah One-Hot Encoding:
   kategori_Plus 1  kategori_Plus 2  kategori_Plus 3  \
0            False             True            False
1            False            False             True
2            False            False            False
3            False             True            False
4            False             True            False

   kategori_Tidak Terkategori
0                       False
1                       False
2                        True
3                       False
4                       False

DataFrame Final dengan One-Hot Encoding:
   No         NIM             Nama  jumlahSKS  nilaiTBQ gradeTBQ  sisaSKS  \
0   1  1300018177      Ani Yuanita        109        70        C     35.0
1   2  1300018188  Burhan Fajar P.         89        75        B     55.0
2   3  1300018200   Heri Budiyanto        120        65        C     24.0
3   4  1300018201  Dimas Satrio W.        111        60        D     33.0
4   5  1300019200      Nur Hidayat        100        50        D     44.0

   gradeTBQ_encoded  gradeTBQ_encoded_sklearn  kategori_Plus 1  \
0                 2                         2            False
1                 1                         1            False
2                 2                         2            False
3                 3                         3            False
4                 3                         3            False

   kategori_Plus 2  kategori_Plus 3  kategori_Tidak Terkategori
0             True            False                       False
1            False             True                       False
2            False            False                        True
3             True            False                       False
4             True            False                       False

4. Analisis Hasil:
Distribusi Kategori SKS:
kategoriSKS
Plus 2               18
Plus 3                7
Tidak Terkategori     3
Plus 1                2
Name: count, dtype: int64

Kolom One-Hot Encoding yang terbentuk:
['kategori_Plus 1', 'kategori_Plus 2', 'kategori_Plus 3', 'kategori_Tidak Terkategori']

Sample data dengan one-hot encoding:
          NIM  sisaSKS  kategori_Plus 1  kategori_Plus 2  kategori_Plus 3  \
0  1300018177     35.0            False             True            False
1  1300018188     55.0            False            False             True
2  1300018200     24.0            False            False            False
3  1300018201     33.0            False             True            False
4  1300019200     44.0            False             True            False
5  1300019181     54.0            False            False             True
6  1300018198     46.0            False             True            False
7  1300019001     74.0            False            False             True
8  1300022099     81.0            False            False             True
9  1300015006     60.0            False            False             True

   kategori_Tidak Terkategori
0                       False
1                       False
2                        True
3                       False
4                       False
5                       False
6                       False
7                       False
8                       False
9                       False

5. Info DataFrame Final:
Shape: (30, 13)
Kolom: ['No', 'NIM', 'Nama', 'jumlahSKS', 'nilaiTBQ', 'gradeTBQ', 'sisaSKS', 'gradeTBQ_encoded', 'gradeTBQ_encoded_sklearn', 'kategori_Plus 1', 'kategori_Plus 2', 'kategori_Plus 3', 'kategori_Tidak Terkategori']